.footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fa9500;
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    width: 90%;
    display: flex;
    flex-direction: column;
    ul:first-of-type {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      a {
        color: white;
        font-size: $size-normal;
        font-weight: bold;
        text-decoration: none;
      }
    }
    ul:last-of-type {
      display: flex;
      justify-content: center;
      gap: 2rem;
      a {
        font-size: $size-tablets;
      }
    }
  }
}
@media screen and (min-width: $tablets-standard) {
  .footer {
    div {
      ul:last-of-type {
        gap: 4rem;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .footer {
    div {
      ul:last-of-type {
        gap: 8rem;
      }
    }
  }
}
