$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$third-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-family: "IBM Plex Sans", sans-serif;
$mobile-medium: 400px;
$tablets-standard: 600px;
$desktop-small: 1000px;
$desktop-standard: 1500px;
$size-normal: 1.8rem;
$size-medium: 2.3rem;
$size-tablets: 2.8rem;
$size-desktop-small: 3.3rem;
$size-desktop-standard: 3.8rem;

@mixin icons($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: $size;
  height: $size;
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  background-color: $primary-color;
}
html {
  font-size: 62.5%;
}
