@media screen and (min-width: $mobile-medium) {
  .main {
    .health-care {
      display: flex;
      flex-direction: column;
      width: 90%;
      h2 {
        font-size: $size-titles-mobile - 0.5rem;
        color: $primary-text-color;
        margin-bottom: $gap * 3;
      }
      > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        column-gap: $gap;
        row-gap: $gap * 10;
        > div {
          border-radius: 0.5em;
          background-color: $secondary-color;
          padding: 2rem;
          display: flex;
          width: 90%;
          max-width: 25rem;
          flex-direction: column;
          align-items: center;
          min-height: 100%;
          span {
            @include icons("/assets/svg/heart.svg", 2rem);
            position: relative;
            left: 46%;
          }
          > div {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            img {
              border-radius: 0.5em;
              width: 100%;
              min-height: 60%;
              max-height: 25rem;
            }
            > div {
              min-height: 30%;
              h4 {
                margin-top: $gap;
                font-size: $size-normal;
                font-weight: bold;
                color: $primary-text-color;
              }
              p {
                color: $primary-text-color;
                font-size: $size-normal - 0.5rem;
                line-height: $size-normal;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablets-standard) {
  .main {
    &__section:nth-of-type(2) {
      > div {
        column-gap: $gap * 5;
        row-gap: $gap * 2;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .main {
    &__section:nth-of-type(2) {
      > div {
        column-gap: 15%;
        row-gap: $gap * 3;
      }
    }
  }
}
@media screen and (max-width: $mobile-medium) {
  .main {
    .health-care {
      display: flex;
      flex-direction: column;
      width: 90%;
      h2 {
        font-size: $size-titles-mobile - 0.5rem;
        color: $primary-text-color;
        margin-bottom: $gap * 3;
      }
      > div {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        gap: 2rem;
        > div {
          border-radius: 0.5em;
          background-color: $secondary-color;
          padding: 2rem;
          display: flex;
          min-width: 22rem;
          flex-direction: column;
          align-items: center;
          scroll-snap-align: center;
          min-height: 120%;
          span {
            @include icons("/assets/svg/heart.svg", 2rem);
            position: relative;
            left: 46%;
          }
          > div {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            justify-content: space-between;
            img {
              width: 100%;
              min-height: 67%;
              max-width: 22rem;
              border-radius: 0.5em;
            }
            > div {
              min-height: 30%;
              h4 {
                margin-top: $gap;
                font-size: $size-normal;
                font-weight: bold;
                color: $primary-text-color;
              }
              p {
                color: $primary-text-color;
                font-size: $size-normal - 0.5rem;
                line-height: $size-normal;
              }
            }
          }
        }
      }
    }
  }
}
