.main {
  .home-decor {
    @extend .health-care;
    > div {
      > div {
        background-color: $third-color;
        div {
          span {
            background-image: url("/assets/svg/heart-white.svg");
          }
          h4 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $tablets-standard) {
  .main {
    .home-decor {
      > div {
        column-gap: 5%;
        row-gap: $gap * 2;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .main {
    .home-decor {
      > div {
        column-gap: 9%;
        row-gap: $gap * 3;
      }
    }
  }
}
