.main {
  .home-decor {
    @extend .health-care;
    > div {
      > div {
        background-color: $third-color;
        div {
          span {
            background-image: url("/assets/svg/heart-white.svg");
          }
          h4 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
        }
      }
    }
  }
}
