.main {
  .home-decor {
    @extend .health-care;
    > div {
      > div {
        background-color: $third-color;
        div {
          span {
            background-image: url("/assets/svg/heart-white.svg");
          }
          h4 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $tablets-standard) {
  .main {
    .home-decor {
      > div {
        column-gap: 5%;
        row-gap: $gap * 2;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .main {
    .home-decor {
      > div {
        column-gap: 9%;
        row-gap: $gap * 3;
      }
    }
  }
}
@media screen and (min-width: $desktop-standard) {
  .main {
    max-width: 180rem;
    .health-care {
      > div {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        column-gap: 9%;
        row-gap: $gap * 10;
        > div {
          border-radius: 1em;
          max-width: 35rem;
          > div {
            > div {
              h4 {
                margin-top: $gap * 2;
                font-size: $size-tablets;
              }
              p {
                font-size: $size-normal;
                line-height: $size-normal + 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
