.main {
  @include containerMain($size-medium);
  flex-direction: column;
  align-items: center;
  gap: $gap * 10;
  &__section:first-of-type {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    gap: $gap;
    div {
      display: flex;
      flex-direction: column;
      gap: $size-normal;
      h1 {
        font-size: $size-titles-mobile;
        line-height: $size-titles-mobile + 0.5rem;
        font-weight: bold;
        color: $primary-text-color;
      }
      p {
        font-size: $size-normal;
        line-height: $size-medium;
      }
      button {
        background-color: #fa9500;
        border: none;
        border-radius: 2em;
        padding: 1rem 2rem;
        color: $primary-color;
        font-weight: bold;
        align-self: center;
        cursor: pointer;
        font-size: $size-normal;
      }
    }
    img {
      border-radius: 0.5em;
    }
  }
}
@media screen and (min-width: $tablets-standard) {
  .main {
    margin-top: $size-tablets * 3;
    &__section:first-of-type {
      flex-direction: row;
      justify-content: space-between;
      div {
        max-width: 40rem;
        width: 54%;
        align-self: center;
        justify-content: center;
        gap: $gap * 4;
        h1 {
          font-size: $size-titles-tablet;
          line-height: $size-titles-tablet + 0.5rem;
        }
        button {
          align-self: flex-start;
        }
      }
      img {
        border-radius: 1em;
        width: 40%;
        max-width: 40rem;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .main {
    &__section:first-of-type {
      div {
        max-width: 60rem;
        gap: $gap * 5;
        h1 {
          font-size: $size-titles-desktop;
          line-height: $size-titles-desktop + 0.5rem;
        }
        p {
          font-size: $size-tablets;
          line-height: $size-desktop-small;
        }
        button {
          font-size: $size-tablets;
        }
      }
    }
  }
}
